<h1>My Registered Applications</h1>
<%= link_to 'Add Application', new_registered_application_path, class: 'btn btn-success' %>
<div class="row">
  <div class="col-md-8">
    <% @registered_application.each do |application| %>
      <h4 class="media-heading">
        <%= link_to application.name, registered_application_path(application) %>
      </h4>
      <small>
        <%= application.url %>
      </small>
    <% end %>
  </div>
</div>
