// Place all the styles related to the RegisteredApplications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div .chart{
  float: left;
  width: 50%;
  padding: 10px;
}

div .events-list{
color: blue;
}
